{{#> plantilla}}
<div class="container-md">
    <h1>{{usuarios.nombreArtistaPerfil}}</h1>
    <h2>{{usuarios.tituloPerfil}}</h2>
    <p>{{usuarios.nombreUsuario}}</p>
    <p>{{usuarios.apellidoUsuario}}</p>
    <p>{{usuarios.telefonoPerfil}}</p>
    <p>{{usuarios.biografiaPerfil}}</p>
</div>

{{/plantilla}}