{{#> plantilla}}
<div class="container-md">
    <h1>{{usuarios.nombreArtistaPerfil}}</h1>
    <h2>{{usuarios.tituloPerfil}}</h2>
    <p>{{usuarios.nombreUsuario}}</p>
    <p>{{usuarios.apellidoUsuario}}</p>
    <p>{{usuarios.telefonoPerfil}}</p>
    <p>{{usuarios.biografiaPerfil}}</p>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/01wn2JqJHSueTZOrGkJz44?utm_source=generator&theme=0" width="80%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>

{{/plantilla}}